:root {
    --logo-azul-escuro: #132235;
    --logo-verde: #6cd9d2;
    --logo-cinza-texto: #d9dbde;
    --logo-branco: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* estou usando roboto condensed? */
    font-family: 'Roboto Condensed', sans-serif;
}

/* Pegar estilo do formulario do curso JS NA WEB (pasta nomeada: js-na-web-validando-formularios) */

/* Referencia sobre como aproveitar a verificação dos dados para gerar efeitos legais: https://www.youtube.com/watch?v=Eu1KRvw4tKg&list=PL4cUxeGkcC9g6m_6Sld9Q4jzqdqHd2HiD&index=16 */