:root {
    --logo-azul-escuro: #132235;
    --logo-verde: #6cd9d2;
    --logo-cinza-texto: #d9dbde;
    --logo-branco: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* estou usando roboto condensed? */
    font-family: 'Roboto Condensed', sans-serif;
}

/* Pegar estilo do formulario do curso JS NA WEB (pasta nomeada: js-na-web-validando-formularios) */