:root {
    --logo-azul-escuro: #132235;
    --logo-verde: #6cd9d2;
    --logo-cinza-texto: #d9dbde;
    --logo-branco: white;
}

html {
    /* overflow-x: hidden; */
}

body {
    font-family: 'Montserrat', sans-serif;
    /* estou usando roboto condensed? */
    /* font-family: 'Roboto Condensed', sans-serif; */
}

header {
    color: var(--logo-cinza-texto);
    background-color: var(--logo-azul-escuro);
    width: 100%;

    /* box-sizing: border-box; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0;

    /* position: absolute; */
}

.logo-cabecalho {
    width: 100vw;
}

.menu-cabecalho-elmtos {
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
}

.menu-cabecalho-elmto {
    display: inline-block;

    margin: 1rem 1rem;

    font-weight: 500;
    font-size: 1.2rem;
    /* Ver, no final, se vale a pena deixar em 1.5rem */
}

/* DESTAQUE */

.destaque {
    padding: 1rem .5rem;
}

.destaque-titulo {
    color: var(--logo-azul-escuro);
    font-size: 2.1rem;
    text-align: center;

    letter-spacing: -0.04em;
    line-height: 45px;
}

.destaque-strong {
    font-weight: 700;
    color: var(--logo-verde);
}

.destaque-img {
    padding: 1.5rem 0;
    width: 95vw;
}

/* QUEM SOMOS */

.quem-somos {
    background-color: var(--logo-cinza-texto);
    padding: 1rem .5rem;
}

.quem-somos-titulo {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.quem-somos-conteudo {
    padding: 1rem;
    width: 70%;

    background-color: var(--logo-verde);
    border-radius: 10px;

    margin-left: -1rem;
}

.quem-somos-strong {
    font-weight: 700;
}

.quem-somos-conteudo-direita {
    padding: 1rem;
    width: 70%;

    background-color: var(--logo-verde);
    border-radius: 10px 0 0 10px;

    margin: 2rem 0 2rem 3.5rem;
}

/* MORADIAS */

.moradias {
    background-color: var(--logo-azul-escuro);
    padding: 1rem .5rem;
}

.moradias-titulo{
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 2rem 0;

    color: var(--logo-cinza-texto);
    word-spacing: 2rem;
    line-height: 3rem;
}

.moradias-opcao {
    border: 2px solid var(--logo-verde);

    margin-bottom: 2.5rem;
    display: flex;
}

.moradias-opcao-sozinhe{
    color: white;

    font-size: 2rem;
    text-transform: uppercase;

    display: block;
    margin-left: .5rem;
    margin-top: 2.3rem;
}

.moradias-hashtag-sozinhe {
    color: var(--logo-cinza-texto);

    display: block;
    position: absolute;
    margin-left: 8rem;
    margin-top: 4.5rem;
}

.moradias-opcao-grupo{
    color: white;

    font-size: 1.8rem;
    text-transform: uppercase;

    position: absolute;
    margin-left: .2rem;
    margin-top: 4rem;
}

.moradias-hashtag-grupo {
    color: var(--logo-cinza-texto);

    position: absolute;
    margin-left: 1.8rem;
    margin-top: 6.2rem;

    font-size: .9rem;
}

.moradias-avatar-sozinhe {
    display: block;
    width: 90px;

    padding: 1rem .5rem;
}

.moradias-avatar-grupo {
    width: 110px;
    display: block;

    padding: 1rem .5rem;
    margin-left: 9.8rem;
}

/* VANTAGENS */

.vantagens {
    background-color: white;
    padding: 1rem 0;
}

.vantagens-titulo {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 2rem 0;

    color: var(--logo-azul-escuro);   
}

.vantagens-item-conteudo {
    display: none;
}

.vantagens-item-img {
    position: absolute;

    width: 150px;

    margin-left: -30px;
    margin-top: -30px;
}

.vantagens-item-img-celular {
    position: absolute;
    margin-top: -45px;
}

.vantagens-item-img-calendario {
    position: absolute;

    width: 150px;

    margin-left: 9.3rem;
    margin-top: -40px;
}

.vantagens-item {
    background-color: var(--logo-verde);
    border-radius: 10px;

    margin: 1rem 0 2rem 2rem;

    height: 100px;

    border-radius: 10px 0 0 10px;
}

.vantagens-item-calendario {
    background-color: var(--logo-verde);
    border-radius: 10px;

    margin: 1rem 2rem 2rem 0;

    height: 100px;

    border-radius: 0 10px 10px 0;
}

.vantagens-item-titulo {
    font-size: .8rem;
    font-weight: 600;
    font-style: italic;
    position: absolute;

    margin: 2.2rem 0 0 7rem;
}

.vantagens-item-titulo-contas {
    margin-left: 1rem;
}

/* FALE CONOSCO */

.fale-conosco {
    background-color: var(--logo-cinza-texto);
    padding: 0 1rem;
}

.fale-conosco-titulo {
    font-size: 2.5rem;
    color: var(--logo-azul-escuro);
    text-align: center;

    padding-top: 2rem;
}

.fale-conosco-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    padding-bottom: 2rem;
}

input, textarea {
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

fieldset {
    margin-bottom: 1rem;
}

.fale-conosco-botao {
    background-color: var(--logo-verde);
    color: var(--logo-azul-escuro);

    border-radius: 10px;

    padding: .2rem 2rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;

    margin-left: 3rem;
}

/* REDES SOCIAIS */

footer {
    padding: 1rem 0;

    background-color: var(--logo-azul-escuro);
}

.rodape-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.copyright {
    color: var(--logo-cinza-texto);
    text-align: center;

    margin-top: 1rem;

    font-size: .6rem;
}

/* Pegar estilo do formulario do curso JS NA WEB (pasta nomeada: js-na-web-validando-formularios) */

/* Referencia sobre como aproveitar a verificação dos dados para gerar efeitos legais: https://www.youtube.com/watch?v=Eu1KRvw4tKg&list=PL4cUxeGkcC9g6m_6Sld9Q4jzqdqHd2HiD&index=16 */