.fale-conosco {
    background-color: var(--logo-cinza-texto);
    padding: 0 1rem;
}

.fale-conosco-titulo {
    font-size: 2.5rem;
    color: var(--logo-azul-escuro);
    text-align: center;

    padding-top: 2rem;
}

.fale-conosco-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    padding-bottom: 2rem;
}

input, textarea {
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

fieldset {
    margin-bottom: 1rem;
}

.fale-conosco-botao {
    background-color: var(--logo-verde);
    color: var(--logo-azul-escuro);

    border-radius: 10px;

    padding: .2rem 2rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;

    margin-left: 3rem;

    margin-bottom: 2rem;
}

#error {
    padding-bottom: 1rem;

    font-weight: 800;
}

@media screen and (min-width: 1000px) {

    .fale-conosco-titulo {
        font-size: 3.5rem;
        font-weight: 500;

        padding-bottom: 3rem;
    }

    input, textarea {
       font-size: 1.5rem; 
    }

    form legend {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    .fale-conosco-botao {
        margin-left: 6.5vw;
    }
}
