.quem-somos {
    background-color: var(--logo-cinza-texto);
    padding: 1rem .5rem;
}

.quem-somos-titulo {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.quem-somos-conteudo {
    padding: 1rem;
    width: 70%;

    background-color: var(--logo-verde);
    border-radius: 10px;

    margin-left: -1rem;
}

.quem-somos-strong {
    font-weight: 700;
}

.quem-somos-conteudo-direita {
    padding: 1rem;
    width: 70%;

    background-color: var(--logo-verde);
    border-radius: 10px 0 0 10px;

    margin: 2rem 0 2rem 3.5rem;
}

@media screen and (min-width: 1000px) {

    .quem-somos-titulo{
        font-size: 3.5rem;
        font-weight: 500;
        padding-bottom: 4rem;
    }

    .quem-somos-conteudo {
        width: 31%;

        padding-left: 15rem;

        line-height: 3rem;

        font-size: 2rem;
    }

    .quem-somos-conteudo-direita {
        font-size: 2rem;

        margin: 0 0 2rem 48rem;
        padding: 1rem 18.5rem 1rem 2rem;

        width: 35%;

        line-height: 2.5rem;
    }
    
}
